/* Configuración general */
body {
    font-family: 'Courier Prime', monospace;
    background-color: #1c1c1c;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Título */
#title {
    color: #d32f2f;
    font-size: 48px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: flicker 2s infinite alternate;
}

@keyframes flicker {
    0%, 100% {
        text-shadow: 0 0 10px rgba(211, 47, 47, 0.7), 0 0 20px rgba(211, 47, 47, 0.6), 0 0 30px rgba(211, 47, 47, 0.5);
    }
    50% {
        text-shadow: 0 0 5px rgba(211, 47, 47, 0.4), 0 0 10px rgba(211, 47, 47, 0.3);
    }
}

/* Contenedor del juego */
#game {
    display: none;
    opacity: 0;
    background-color: #333;
    width: 80%;
    max-width: 800px; /* Limita el ancho al tamaño del canvas */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #444;
    transition: opacity 0.5s ease;
}

#game.show {
    opacity: 1;
}

/* Canvas */
canvas {
    background-color: #000; /* Fondo del canvas por si no se pinta todo */
    border: 1px solid #444;
}

/* Texto de la historia */
#story {
    color: #e6e6e6;
    margin: 10px 0;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

/* Botones de opciones */
.option-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.option-button:hover {
    background-color: #555;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botón de inicio */
#start-button {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#start-button:hover {
    background-color: #0d47a1;
    transform: scale(1.05);
}

/* Barra de progreso */
#progress-bar {
    width: 100%;
    background-color: #333;
    margin: 10px 0;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #444;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: #76c7c0;
    transition: width 0.5s ease;
    border-radius: 3px;
}

/* Responsividad */
@media (max-width: 768px) {
    #title {
        font-size: 36px;
    }

    #game {
        width: 90%;
        padding: 10px;
    }

    .option-button {
        font-size: 16px;
        padding: 8px;
    }

    #start-button {
        font-size: 18px;
        padding: 12px 24px;
    }

    canvas {
        width: 100%;
        height: auto;
    }
}
